<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{{ title }}{% endblock %}</title>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/kickstart.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/overrides.css') }}">
<script async src="{{ url_for('static', filename='js/kickstart.js') }}"></script>
<meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1920219-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="callout callout-top clearfix">
	<div class="grid">
		<div class="col_12">
			<div class="col_4">
			<img src='' />
			</div>
			<div class"col_8 right">
				<h1>{{ self.title() }}</h1>
				<h6 class="right tagline">lost? dazed? confused? dont come here then as this aint goona help!!</h6>
			</div>
			<hr class="alt2" />
		</div>
	</div>
</div>

<div class="grid">
	<div class="col_12">
	{% include 'menu.html' %}
	</div>
</div>

<div class="grid">
	<div class="col_9">
		{% for message in get_flashed_messages() %}
			<div class=flash>{{ message }}</div>
		{% endfor %}
		{% block body %}{% endblock %}
	</div>
	<div class="col_3">
		<div>
			Blogroll
		</div>
	</div>
	<div class="col_3">
			Find Me
	</div>
	<div class="col_3">
		<a href="https://github.com/rhyspowell" target="_blank"><h3><div class="icon-github"> Github</div></h3></a>
	</div>
		<div class="col_3">
		<a href="https://twitter.com/Bleachin" target="_blank"><h3><div class="icon-twitter-sign"> Twitter</div></h3></a>
	</div>
	<div class="col_3">
		<a href="https://plus.google.com/+RhysPowell" target="_blank"><h3><div class="icon-google-plus-sign"> +Google</div></h3></a>
	</div>
	<div class="col_3">
		<a href="https://www.facebook.com/bleachin" target="_blank"><h3><div class="icon-facebook-sign"> Facebook</div></h3></a>
	</div>
</div>
<div class="grid">
	<div class="col_12">
		<footer>
			<p>Hacked together badly by <a href="https://github.com/rhyspowell">Rhys Powell</a> using python flask and mysql</p>
		</footer>
	</div>
</div>
</body>
</html>
