@import url(kickstart-buttons.css);@import url(kickstart-forms.css);@import url(kickstart-menus.css);@import url(kickstart-grid.css);@import url(jquery.fancybox-1.3.4.css);@import url(kickstart-slideshow.css);@import url(prettify.css);@import url(tiptip.css);@import url(fonts/fontawesome/css/font-awesome.min.css);*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a{color:#4D99E0;outline:0;}
a:active{color:inherit;}
a:visited{}
a:hover{}
a img{border:0;}
a [class^="icon-"]{color:inherit;text-decoration:none;}
strong,b{color:#000;font-weight:bold;}
strike{}
em,i{}
.hide{display:none;}
.show{display:block;}
.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
hr{clear:both;border-bottom:0;border-top:1px dotted #ccc;border-right:0;border-left:0;margin:30px 0;min-height:0;height:1px;}
hr.alt1{border-style:solid;}
hr.alt2{border-style:dashed;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block;}
h1,h2,h3,h4,h5,h6{font-weight:bold;line-height:140%;}
h1{font-size:3.5em;margin:10px 0 10px 0;}
h2{font-size:3em;margin:10px 0 10px 0;}
h3{font-size:2.5em;margin:10px 0 10px 0;line-height:130%;}
h4{font-size:2em;margin:10px 0 10px 0;}
h5{font-size:1.5em;margin:10px 0 10px 0;}
h6{font-size:1.2em;margin:10px 0 5px 0;}
p{margin:10px 0;}
blockquote{font-size:1.5em;line-height:1.5em;font-style:italic;margin:30px 30px 30px 0;padding:0 0 0 20px;border-left:1px solid #ccc;}
blockquote span{font-size:0.7em;display:block;}
blockquote.small{font-size:1.2em;}
ul, ol{padding:0;margin:0 0 20px 25px;}
li{padding:5px 0;margin:0;}
ul.list-unstyled{padding:0;margin:0 0 20px 0;}
ul.list-unstyled li{padding:5px 0;margin:0;list-style-type:none;}
ul.alt{padding:0;margin:0 0 20px 0;}
ul.alt li{list-style-type:none;border-top:1px dotted #ccc;border-bottom:1px dotted #ccc;margin:0 0 -1px 0;background:url(img/icon-arrow-right.png) no-repeat 5px 0.7em;padding-left:20px;}
code{font-family:Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;font-size:0.9em;border:1px solid lightblue;padding:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;color:#518BAB;}
pre{white-space:pre-wrap;white-space:-moz-pre-wrap !important;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;margin:0 0 0 0;padding:5px 5px 3px 5px;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 0 7px rgba(0,0,0,0.2);-moz-box-shadow:inset 0 0 7px rgba(0,0,0,0.2);box-shadow:inset 0 0 7px rgba(0,0,0,0.2);padding:10px;margin:0 0;border:1px solid #ddd;font-family:Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;font-size:0.9em;}
table{width:100%;margin:0 0 10px 0;text-align:left;border-collapse:collapse;}
thead, tbody{margin:0;padding:0;}
th, td{padding:7px 10px;font-size:0.9em;border-bottom:1px dotted #ddd;text-align:left;}
thead th{font-size:0.9em;padding:3px 10px;border-bottom:1px solid #ddd;}
tbody tr.last th,
tbody tr.last td{border-bottom:0;}
table.striped{}
table.striped tr.alt{background:#f5f5f5;}
table.striped thead th{background:#fff;}
table.striped tbody th{background:#f5f5f5;text-align:right;padding-right:15px;border-right:1px dotted #e5e5e5;}
table.striped tbody tr.alt th{background:#efefef;}
table.tight{}
table.tight th, .tight td{padding:2px 10px;}
table.sortable{border:1px solid #ddd;}
table.sortable thead th{cursor:pointer;position:relative;top:0;left:0;border-right:1px solid #ddd;}
table.sortable thead th:hover{background:#efefef;}
table.sortable span.arrow{border-style:solid;border-width:5px;display:block;position:absolute;top:50%;right:5px;font-size:0;border-color:#ccc transparent transparent transparent;line-height:0;height:0;width:0;margin-top:-2px;}
table.sortable span.arrow.up{border-color:transparent transparent #ccc transparent;margin-top:-7px;}
ul.tabs{margin:10px 0 -1px 0;padding:0;width:100%;border-bottom:1px solid #e5e5e5;float:left;font-size:0;}
ul.tabs.left{text-align:left;}
ul.tabs.center{text-align:center;}
ul.tabs.right{text-align:right;}
ul.tabs.right li{margin:0 0 0 -2px;}
ul.tabs li{font-size:14px;list-style-type:none;margin:0 -2px 0 0;padding:0;display:inline-block;*display:inline;position:relative;top:0;left:0;*top:1px;zoom:1;}
ul.tabs li a{text-decoration:none;color:#666;display:inline-block;padding:9px 15px;position:relative;top:0;left:0;line-height:100%;background:#f5f5f5;-webkit-box-shadow:inset 0 -3px 3px rgba(0,0,0,0.03);-moz-box-shadow:inset 0 -3px 3px rgba(0,0,0,0.03);box-shadow:inset 0 -3px 3px rgba(0,0,0,0.03);border:1px solid #e5e5e5;border-bottom:0;font-size:0.9em;zoom:1;}
ul.tabs li a:hover{background:#fff;}
ul.tabs li.current a{position:relative;top:1px;left:0;background:#fff;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:#222;}
.tab-content{border:1px solid #efefef;border:1px solid #e5e5e5;background:#fff;clear:both;padding:20px;margin:0 0 40px 0;}
ul.breadcrumbs{margin:10px 0;padding:0;line-height:0%;font-size:0;}
ul.breadcrumbs li{list-style-type:none;margin:0;padding:0;display:inline-block;*display:inline;position:relative;zoom:1;line-height:100%;font-size:14px;}
ul.breadcrumbs li a{display:inline-block;*display:inline;position:relative;padding:5px 15px 5px 5px;font-size:0.9em;zoom:1;margin:0;background:url(img/icon-arrow-right.png) no-repeat right center;}
ul.breadcrumbs li.last a{color:#333;cursor:default;text-decoration:none;background:none;}
ul.breadcrumbs li.last a:hover{text-decoration:none;}
ul.breadcrumbs.alt1{border:1px solid transparent;font-size:0;}
ul.breadcrumbs.alt1 li a{padding:10px 25px 10px 15px;background:url(img/breadcrumbs-bg.gif) no-repeat right center;text-decoration:none;border-top:1px solid #efefef;border-bottom:1px solid #efefef;font-size:12px;}
ul.breadcrumbs.alt1 a:hover{text-decoration:underline;}
ul.breadcrumbs.alt1 li.first a{border-left:1px solid #efefef;}
ul.breadcrumbs.alt1 li.last a{background:none;border-right:1px solid #efefef;}
img{margin:0;padding:0;display:inline-block;position:relative;zoom:1;vertical-align:bottom;}
img.align-left, .img-wrap.align-left{float:left;margin:0 10px 5px 0;}
img.align-right, .img-wrap.align-right{float:right;margin:0 0 5px 10px;}
img.full-width{clear:both;display:block;width:100%;height:auto;margin:0 0 10px 0;}
div.caption{background:#f5f5f5;border:1px solid #ddd;padding:3px;max-width:100%;display:inline-block;height:auto;}
div.caption img{display:block;padding:0;margin:0;width:100%;height:auto;}
div.caption span{display:block;margin-top:3px;font-size:0.8em;color:#666;padding:0px 5px;}
.gallery{}
.gallery a{display:inline-block;position:relative;border:1px solid #ddd;background:#fff;padding:3px;margin:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.gallery a img{display:block;position:relative;margin:0;padding:0;}
.slideshow-wrap{clear:both;margin:0;padding:0;position:relative;top:0;left:0;overflow:hidden;clear:both;}
.slideshow-inner{overflow:hidden;clear:both;position:relative;top:0;left:0;border:1px solid #efefef;}
.slideshow{clear:both;margin:0;padding:0;width:auto;height:auto;overflow:hidden;}
.slideshow li{list-style-type:none;margin:0;padding:0;float:left;display:block;}
.slideshow img{vertical-align:bottom;}
.slideshow-buttons{text-align:right;margin:3px 0 0 0;padding:0;}
.slideshow-buttons li{display:inline;position:relative;top:0;left:0;line-height:100%;margin:0;padding:0;}
.slideshow-buttons li.current a{background:#ddd;}
.slideshow-buttons a{display:inline;position:relative;top:0;left:0;padding:1px 3px;margin:0 1px;line-height:100%;border:1px solid #efefef;text-decoration:none;font-size:0.8em;}