.callout{background:#000;color:#96D321;box-shadow:inset 0px 0px 10px rgba(0,0,0,0.2);text-align:center;text-shadow:0px 1px 3px rgba(0,0,0,0.3);display:block;text-decoration:none;}
.callout + div.grid{margin-top:50px;}
a.callout{cursor:pointer;}
.callout i.icon-4x{font-size:6em;}
.callout h4{margin-bottom:30px;}
.callout p{margin-bottom:0;}
.callout .button{margin-top:10px;}
.callout.green{background:#19ad0b url("../images/gplaypattern.png") repeat;}
body{background:#000;color:#fff;font-size:16px;}
.menu{background:#96D321 url("../images/gplaypattern.png") repeat;border:0;}
.menu li a{font-size:1em;color:#000;}
.tagline{color:#fff;}